@model Cat.Models.Kitty.KittyDeleteViewModel


<h1>@Html.DisplayFor(model => model.CatName)</h1>

<div>
    <h4> Bye Bye kitty</h4>
    <hr />
    <dl class="row">
        <div class="form-group row">
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Id)
        </div>
        @foreach (var image in Model.Image)
        {
            <partial name="_Images" model="image" />
        }
        <div class="form-group row">
            <label asp-for="CatName" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CatName)
        </div>
        <div class="form-group row">
            <label asp-for="CatType" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CatType)
        </div>

        @* todo: combine titanxp AND TT LEVEL INTO ON PROGRAM BAR*@
        <div class="form-group row">
            <label asp-for="CatFoodType" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CatFoodType)
        </div>
        <div class="form-group row">
            <label asp-for="CatLevel" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CatLevel)
        </div>
        <div class="form-group row">
            <label asp-for="CatFoodXP" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CatFoodXP)
        </div>

        @*Display type with image instead*@
        <div class="form-group row">
            <label asp-for="CatFoodXPNextLevel" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CatFoodXPNextLevel)
        </div>


    </dl>
    <form asp-action="DeleteConfirmation">
        <input type="hidden" asp-for="Id" />
        <input type="submit" />
        <a asp-action="Index" asp-controller="Kitty" class="btn btn-secondary">Back</a>

    </form>
   
</div>

