@model Cat.Models.Kitty.KittyDetailsViewModel


<h1>@Html.DisplayFor(model => model.CatName)</h1>

<div>
    <h4> Your little kitty</h4>
    <hr />
    <dl class="row">
        <div class="form-group row">
            <label asp-for="ID" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.ID)
        </div>
        @foreach(var image in Model.Image)
        {
            <partial name="_Images" model="image" />
        }
        <div class="form-group row">
            <label asp-for="CatName" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CatName)
        </div>       
        @* todo: combine titanxp AND TT LEVEL INTO ON PROGRAM BAR*@
        <div class="form-group row">
            <label asp-for="CatType" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CatType)
        </div>
        <div class="form-group row">
            <label asp-for="CatLevel" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CatLevel)
        </div>
        <div class="form-group row">
            <label asp-for="CatXP" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CatXP)
        </div>
        @*Display type with image instead*@
        <div class="form-group row">
            <label asp-for="CatXPNextLevel" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CatXPNextLevel)
        </div>
       

    </dl>
    <a asp-action="Index" asp-controller="Kittys" class="btn btn-secondary">Back</a>
</div>
