@model IEnumerable<Cat.Models.Kitty.KittyIndexViewModel>


    @{int rowNumber = 1; }
    <div>
        <a asp-action="Add" asp-controller="Kitty" type="submit" class="btn btn-primary">Go get your Cat</a>
        <a asp-action="Create" asp-controller="Kitty" type="submit" class="btn btn-primary">Create</a>
    </div>
    @**@

    <div class="h1">Your Cats:</div>
    <form method="post">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scorpe="col">#</th>
                    <th scorpe="col">Name</th>
                    <th scorpe="col">Cat Type</th>
                    <th scorpe="col">Food Type</th>
                    <th scorpe="col">level</th>
                    <th scorpe="col">Picture</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var cat in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@cat.CatName</td>
                    <td>@cat.CatType</td>
                    <td>@cat.CatFoodType</td>
                    <td>@cat.CatLevel</td>
                    <td>
                        <a asp-action="details" asp-controller="Kitty" asp-route-id="@cat.Id" class="btn btn-info">CatDetails</a>
                        <br />
                        <a asp-action="update" asp-controller="Kitty" asp-route-id="@cat.Id" class="btn btn-info">CatConfigur</a>
                        <br />
                        <a asp-action="Delete" asp-controller="Kitty" asp-route-id="@cat.Id" class="btn btn-info">KittyDelete</a>
                    </td>   
                </tr>
                rowNumber++;
            }

            </tbody>
        </table>
    </form>
