@model IEnumerable<Cat.Models.Kittys.KittyListIndexViewModel>

@{ int rowNumber = 1; }
<div><a asp-action="Create" asp-controller="Kittys" class="btn btn-primary">Create a new kittys</a></div>
@*User can go on a mission using ADD function, to obtain a new character. In controller, this is called "PlayerSoloMission"*@

<div class="h1">Your Kittys:</div>
<form method="post">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Type</th>
				<th scope="col">Status</th>
				<th scope="col">Level</th>
				<th scope="col">Rank</th>
				<th scope="col">Admin actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var character in Model)
			{
				<tr>
					
					<td>@rowNumber</td>
					<td>@character.KittyName</td>
					<td>@character.KittyType</td>
					<td>@character.KittyStatus</td>
					<td>@character.KittyLevel</td>
					<td>@character.KittyRank</td>
					<td>
						<a asp-action="details" asp-controller="Kittys" asp-route-id="@character.ID" class="btn btn-info">KittyDetails</a>
						<br />
						<a asp-action="update" asp-controller="Kittys" asp-route-id="@character.ID" class="btn btn-info">KittyConfigure</a>		
						<br />
						<a asp-action="delete" asp-controller="Kittys" asp-route-id="@character.ID" class="btn btn-info">KittyDelete</a>
					</td>
				</tr>
				rowNumber++;
			}
		</tbody>
	</table>
</form>
@*Mission button for player profile*@
@*Mission button for realm*@
@*Mission button for player activity history*@